<section class="p-storeDetail">
    <div class="p-storeDetail__title">
        <h2><%= @store[0]["store_name"] %></h1>
    </div>
    <div class="p-storeDetail__image">
        <img src="<%= @store[0]["image1"] %>" alt="<%= @store[0]["store_name"] %>の画像1">
    </div>
    <table class="p-storeDetailTable">
        <tr>
            <th class="p-storeDetailTable__th">最安ビール価格</th>
            <td class="p-storeDetailTable__td">
                <p class="p-storeDetailTable__text">
                    <%= @store[0]["drink_name"] %>
                </p>
                <p class="p-storeDetailTable__price">
                    <%= @store[0]["min(drink_price)"] %>円
                </p>
            </td>
        </tr>
    </table>
    <div>
        <h2 class="p-sectionHeader">このお店のタグ</h2>
        <ul class="p-storeDetailTable__tag">
            <% @drink.each do |drink| %>
                <li class="p-storeDetailTable__tagItem">
                    <%= drink["name"] %>
                </li>
            <% end %>
        </ul>
    <div>
    <h2 class="p-sectionHeader">ドリンクの種類</h2>
    <table class="p-storeDetailDrinkTable">
        <% @drink.each do |drink| %>
            <tr>
                <th class="p-storeDetailDrinkTable__th"><%= drink["name"] %></th>
                <td class="p-storeDetailDrinkTable__td"><%= drink["price"] %>円</td>
            </tr>
        <% end %>
    </table>

    <h2 class="p-sectionHeader">店舗情報</h2>
    <table class="p-storeDetailDrinkTable">
        <tr>
            <th class="p-storeDetailDrinkTable__th">店名</th>
            <td class="p-storeDetailDrinkTable__td--store"><%= @store[0]["store_name"] %></td>
        </tr>
        <tr>
            <th class="p-storeDetailDrinkTable__th">平均予算</th>
            <td class="p-storeDetailDrinkTable__td--store"><%= @store[0]["budget"].to_s(:delimited) %>円</td>
        </tr>
        <tr>
            <th class="p-storeDetailDrinkTable__th">住所</th>
            <td class="p-storeDetailDrinkTable__td--store"><%= @store[0]["address"] %></td>
        </tr>
        <tr>
            <th class="p-storeDetailDrinkTable__th">アクセス</th>
            <td class="p-storeDetailDrinkTable__td--store"><%= @store[0]["access_line"]+@store[0]["access_station"] %>徒歩<%= @store[0]["access_walk"] %>分</td>
        </tr>
        <tr>
            <th class="p-storeDetailDrinkTable__th">電話番号</th>
            <td class="p-storeDetailDrinkTable__td--store"><%= @store[0]["tel"] %></td>
        </tr>
        <tr>
            <th class="p-storeDetailDrinkTable__th">営業時間</th>
            <td class="p-storeDetailDrinkTable__td--store"><%= @store[0]["opentime"] %></td>
        </tr>
    </table>

    <div class="p-storeDetailInfo__link">
        <div class="p-storeDetailInfoBox">
            <a href="https://www.google.com/maps?q=<%= @store[0]["latitude"] %>,<%= @store[0]["longitude"] %>" class="p-storeDetailInfo_linkItem">
                <%= image_tag("icons/google_map.svg") %>
                <p>Google Map</p>
                <span class="material-icons">chevron_right</span>
            </a>
        </div>
        <div class="p-storeDetailInfoBox">
            <a href="<%= @store[0]["url"] %>" class="p-storeDetailInfo_linkItem">
                <%= image_tag("icons/gurunabi.svg") %>
                <p>ぐるなび</p>
                <span class="material-icons">chevron_right</span>
            </a>
        </div>
    </div>
</section>
