<div class="show_box">
    <div class="show_midashi">
        <div class="content_pankuzu">
            
        </div>
        <div>
            <h2><%= @store[0]["store_name"] %></h2>
        </div>
        <hr>
    </div>

    <div class="show_images">
        <div class="show_image_main">
            <img src="<%= @store[0]["image1"] %>" alt="<%= @store[0]["store_name"] %>の画像1">
        </div>
        <% unless @store[0]["image2"].empty? %>
        <div class="show_image_main">
            <img src="<%= @store[0]["image2"] %>" alt="<%= @store[0]["store_name"] %>の画像1">
        </div>  
        <% end %>
    </div>

    <hr class="cheap_beer_top">
    <div class="cheap_beer">
        <div class="cheap_beer_left">
            <div>最安ビール価格</div>
        </div>
        <div class="cheap_beer_right">
            <div class="cheap_beer_name">
                <%= @store[0]["drink_name"] %>
            </div>
            <div class="cheap_beer_price">
                <%= @store[0]["min(drink_price)"] %>円
            </div>
        </div>
    </div>
    <hr class="cheap_beer_bottom">

    <div class="tag_area">
        <div>
            <b>このお店のお酒タグ</b>
        </div>
        <div class="tag_box"><!-- ループを回そう -->
        
        </div>
    </div>
    <hr class="tag_bottom">
    <div class="beer_type">
        <div>
            ビールの種類
        </div>
        <hr>
        <div>
        <% @drink.each do |drink| %>
            <div class="beer_type_item">
                <div class="beer_name">
                    <%= drink["name"] %>
                </div>
                <div class="beer_price">
                    <%= drink["price"] %>円
                </div>
            </div>
            <hr>
        <% end %>
        </div>
    </div>
    <hr class="detail_info_top">
    <div class="detail_info">
        <div>
            <h2>店舗情報</h2>
        </div>
        <hr class="detail_info_hr">
        <div class="detail_info_item">
            <div class="detail_info_row">
                <div class="detail_info_type">
                    <div>
                        店名
                    </div>
                </div>
                <div class="detail_info_data">
                    <div>
                        <%= @store[0]["store_name"] %>
                    </div>
                </div>
            </div>
            <div class="detail_info_row">
                <div class="detail_info_type">
                    <div>
                        平均価格
                    </div>
                </div>
                <div class="detail_info_data">
                    <div>
                        <%= @store[0]["budget"].to_s(:delimited) %>円
                    </div>
                </div>
            </div>
            <div class="detail_info_row">
                <div class="detail_info_type">
                    <div>
                        住所
                    </div>
                </div>
                <div class="detail_info_data">
                    <div>
                        <%= @store[0]["address"] %>
                    </div>
                </div>
            </div>
            <div class="detail_info_row">
                <div class="detail_info_type">
                    <div>
                        アクセス
                    </div>
                </div>
                <div class="detail_info_data">
                    <div>
                        <%= @store[0]["access_line"]+@store[0]["access_station"] %>徒歩<%= @store[0]["access_walk"] %>分
                    </div>
                </div>
            </div>
            <div class="detail_info_row">
                <div class="detail_info_type">
                    <div>
                        電話番号
                    </div>
                </div>
                <div class="detail_info_data">
                    <div>
                        <%= @store[0]["tel"] %>
                    </div>
                </div>
            </div>
            <div class="detail_info_row">
                <div class="detail_info_type">
                    <div>
                        アクセス
                    </div>
                </div>
                <div class="detail_info_data">
                    <div>
                        <%= @store[0]["opentime"] %>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div>
<p>@drink</p>
<%= @drink %>
</div>

<div>
<p>@store</p>
<%= @store %>
</div>