<section class="storeDetail">
    <div class="storeDetail__title">
        <h2><%= @store[0]["store_name"] %></h1>
    </div>
    <div class="storeDetail__image">
        <img src="<%= @store[0]["image1"] %>" alt="<%= @store[0]["store_name"] %>の画像1">
    </div>
    <div class="storeDetailInfo">
        <p class="storeDetailInfo__price">ビール最安値<span class="storeDetailInfo__priceEmphasis">¥<%= @store[0]["min(drink_price)"].to_s(:delimited) %>円</span></p>
        <div class="storeDetailInfo__access">
            <p><i class="fas fa-utensils storeDetailInfo__accessIcon"></i>平均予算<span><%= @store[0]["budget"].to_s(:delimited) %>円</span></p>
            <p><i class="fas fa-walking storeDetailInfo__accessIcon"></i><%= @store[0]["access_line"]+@store[0]["access_station"] %>徒歩<%= @store[0]["access_walk"] %>分</p>
        </div>
        <div class="storeDetailInfo__link">
            <a href="https://www.google.com/maps?q=<%= @store[0]["latitude"] %>,<%= @store[0]["longitude"] %>" class="storeDetailInfo_linkItem">
                <%= image_tag("icons/google_map.svg") %>
                <p>Google Map</p>
                <span class="material-icons">chevron_right</span>
            </a>
            <a href="<%= @store[0]["url"] %>" class="storeDetailInfo_linkItem">
                <%= image_tag("icons/gurunabi.svg") %>
                <p>ぐるなび</p>
                <span class="material-icons">chevron_right</span>
            </a>
        </div>
    </div>
    <h2 class="sectionHeader">
        <p class="section__title">このお店に置いてあるビール</p>
    </h2>

    <table class="storeDetailTable">
        <% @drink.each do |drink| %>
            <tr>
                <th><%= drink["name"] %></th>
                <td><%= drink["price"] %>円</td>
            </tr>
        <% end %>
    </table>
</section>
<a href="/" class="linkToTop">
    <p>一覧に戻る</p>
</a>
