<div class="topArea">
    <div class="topArea__title">
        <p><span class="topArea__titleRegion">八王子駅</span>周辺</p>
        <p>で安くビールが飲めるお店</p>
    </div>
    <div class="topArea__price">
        <p>最安<span class="topArea__priceEmphasis">390</span>円〜</p>
        <p class="topArea__priceAccess">八王子駅北口徒歩５分</p>
    </div>
</div>
<section class="topAreaList">
    <h2 class="sectionHeader">
        <p class="section__title">八王子駅周辺で最もビールが安いお店</p>
    </h2>
    <ul>
        <% 3.times do |i| %>
            <li class="topAreaListCard">
                <%= link_to '/show/1' do %>
                    <div class="topAreaListCardImage">
                        <%= image_tag("item_image/1.jpg") %>
                    </div>
                    <div class="topAreaListCardInfo">
                        <div class="topAreaListCardInfo__rank">
                            <%= image_tag("icons/#{i + 1}.svg") %>
                        </div>
                        <div class="topAreaListCardInfo__wrapper">
                            <h4 class="topAreaListCardInfo__title">個室居酒屋 淡路島へ渡れ 八王子店</h4>
                            <div class="topAreaListCardInfo__detail">
                                <div class="topAreaListCardInfo__detailAccess">
                                    <p><i class="fas fa-walking topAreaListCardInfo__detailAccessIcon"></i>JR八王子駅 徒歩2分</p>
                                    <p><i class="fas fa-utensils topAreaListCardInfo__detailAccessIcon"></i>平均予算<span><%= 4000.to_s(:delimited) %></span>円</p>
                                </div>
                                <div class="topAreaListCardInfo__detailPrice">
                                    <p>320円</p>
                                </div>
                            </div>
                            <ul class="topAreaListCardInfo__tag">
                                <% @beers.each do |beer| %>
                                    <li class="topAreaListCardInfo__tagItem"><%= beer %></li>
                                <% end %>
                            </ul>
                        </div>
                    </div>
                <% end %>
            </li>
        <% end %>
    </ul>
</section>
