<div class="p-topAreaFirstView">
    <div class="p-topAreaFirstView__title">
        <p><span class="p-topAreaFirstView__titleRegion">八王子市</span>周辺</p>
        <p>で安くビールが飲めるお店</p>
    </div>
    <div class="p-topAreaFirstView__price">
        <p>最安<span class="p-topAreaFirstView__priceEmphasis"><%= @stores_data[0]["drink_price"] %></span>円〜</p>
        <p class="p-topAreaFirstView__priceAccess">
            <%= @stores_data[0]["access_line"] + @stores_data[0]["access_station"] %>徒歩<%= @stores_data[0]["access_walk"] %>分
        </p>
    </div>
</div>
<section class="p-topArea">
    <div class="p-topAreaSearch" id="js-search-nav">
        <p class="p-topAreaSearchTitle"><span class="material-icons">plagiarism</span>並び順</p>
        <form id="sortFrom" action="/" accept-charset="UTF-8" method="get">
            <select name="jssort" class="jssort">
                <option id="js-beer" value="beer">ビールが安い順</option>
                <option id="js-budget" value="budget">平均予算が安い順</option>
            </select>
        </form>
    </div>
    <div class="p-topAreaList">
        <h2 class="p-sectionHeaderTop">八王子周辺で<%= @h2_title %></h2>
        <ul class="p-topAreaListCardWrapper">
            <%
                i = 0
                @stores_data.each do |store|
            %>
                <li>
                    <%= link_to "/show/#{store["store_code"]}", class: "p-topAreaListCard" do %>
                        <div class="p-topAreaListCardImage">
                            <img src="<%= store["image1"] %>" alt="<%= store["store_name"] %>の写真">
                        </div>
                        <div class="p-topAreaListCardInfo">
                            <div class="p-topAreaListCardInfo__title">
                                <span class="p-topAreaListCardInfo__titleRank">
                                    <%=
                                        i += 1
                                        if i < 4 then
                                            image_tag("icons/#{i}.svg")
                                        else
                                            i
                                        end
                                    %>
                                </span>
                                <h4 class="p-topAreaListCardInfo__titleText">
                                    <%= store["store_name"] %>
                                </h4>
                            </div>
                            <div class="p-topAreaListCardInfoDetail">
                                <div class="p-topAreaListCardInfoDetail__access">
                                    <p class="p-topAreaListCardInfoDetail__accessText">
                                        <i class="material-icons">directions_walk</i>
                                        <%= store["access_line"] + store["access_station"] %>徒歩<%= store["access_walk"] %>分
                                    </p>
                                    <p class="p-topAreaListCardInfoDetail__accessText">
                                    <% if @h2_title == "ビールが安い順" %>
                                        <i class="material-icons">attach_money</i>
                                        平均予算<%= store["budget"].to_s(:delimited) %>円
                                    <% else %>
                                        <i class="material-icons">sports_bar</i>
                                        ビール最安<%= store["drink_price"].to_s(:delimited) %>円
                                    <% end %>
                                    </p>
                                </div>
                                <% if @h2_title == "ビールが安い順" %>
                                    <p class="p-topAreaListCardInfoDetail__price"><%= store["drink_price"].to_s(:delimited) %>円~</p>
                                <% else %>
                                    <p class="p-topAreaListCardInfoDetail__price"><%= store["budget"].to_s(:delimited) %>円~</p>
                                <% end %>
                            </div>
                            <ul class="p-topAreaListCardInfo__tag">
                                <% store["drink_name"].each do |name| %>
                                    <li class="p-topAreaListCardInfo__tagItem"><%= name %></li>
                                <% end %>
                            </ul>
                            <p class="p-topAreaListCardInfo__pr"><%= store["pr"] %></p>
                        </div>
                    <% end %>
                </li>
            <% end %>
        </ul>
    </div>
</section>
