<div class="topArea">
    <div class="topArea__title">
        <p><span class="topArea__titleRegion">八王子市</span>周辺</p>
        <p>で安くビールが飲めるお店</p>
    </div>
    <div class="topArea__price">
        <p>最安<span class="topArea__priceEmphasis"><%= @stores_data[0]["drink_price"] %></span>円〜</p>
        <p class="topArea__priceAccess"><%= @stores_data[0]["access_line"] + @stores_data[0]["access_station"] %>徒歩<%= @stores_data[0]["access_walk"] %>分</p>
    </div>
</div>
<div class="topSort_area">
    <div class="topSort_areaContent">
        <h2 class="topSort_areaTitle">
            <p>絞り込み条件を設定</p>
        </h2>
        <div class="topSort_pulldown">
            <%= form_tag({controller: "home", action: "top"},{method: :get, id: "sortFrom"}) do %>
                <%= select_tag "sort", options_for_select([["ビールが安い順",""],["平均価格が安い順","budget"]])%>
            <% end %>
        </div>
    </div>
</div>
<section class="topAreaList">
    <h2 class="sectionHeader">
        <p class="section__title">八王子駅周辺で最も<%= @h2_title %></p>
    </h2>
    <ul>
        <% i = 0 %>
        <% @stores_data.each do |store| %>
            <li class="topAreaListCard">
                <%= link_to("/show/#{store["store_code"]}") do %>
                    <div class="topAreaListCardInfo__rank">
                        <% i += 1 %>
                        <span>
                            <%= if i < 4 then image_tag("icons/#{i}.svg") else i end  %>
                        </span>
                        <h4 class="topAreaListCardInfo__title"><%= store["store_name"]%></h4>
                    </div>
                    <div class="topAreaListCardInfo__detail">
                        <div class="topAreaListCardImage">
                            <img src="<%= store["image1"] %>" alt="<%= store["store_name"] %>の写真">
                        </div>
                        <div class="topAreaListCardInfo__detailBox">
                            <div class="topAreaListCardInfo__detailPrice">
                                <% if @h2_title == "ビールが安い順" %>
                                    <p class="topAreaListCardInfo__cheaptext">最安値</p><p class="topAreaListCardInfo__pricetext"><%= store["drink_price"].to_s(:delimited) %>円~</p>
                                <% else %>
                                    <p class="topAreaListCardInfo__cheaptext">平均価格</p><p class="topAreaListCardInfo__pricetext"><%= store["budget"].to_s(:delimited) %>円~</p>
                                <% end %>
                            </div>
                            <div class="topAreaListCardInfo__detailAccess">
                                <p><i class="fas fa-walking topAreaListCardInfo__detailAccessIcon"></i><%= store["access_line"] + store["access_station"] %>徒歩<%= store["access_walk"] %>分</p>
                                <p><i class="fas fa-utensils topAreaListCardInfo__detailAccessIcon"></i>平均予算<span><%= store["budget"].to_s(:delimited) %>円~</p>
                            </div>
                            <div>
                                <ul class="topAreaListCardInfo__tag">
                                    <% store["drink_name"].each do |name| %>
                                        <li class="topAreaListCardInfo__tagItem"><%= name %></li>
                                    <% end %>
                                </ul>
                            </div>
                        </div>
                    </div>
                <% end %>
            </li>
        <% end %>
    </ul>
</section>
