<div class="topArea">
    <div class="topArea__title">
        <p><span class="topArea__titleRegion">八王子</span>周辺</p>
        <p>で安くビールが飲めるお店</p>
    </div>
    <div class="topArea__price">
        <p>最安<span class="topArea__priceEmphasis"><%= @stores_data[0]["drink_price"] %></span>円〜</p>
        <p class="topArea__priceAccess"><%= @stores_data[0]["access_line"] + @stores_data[0]["access_station"] %>徒歩<%= @stores_data[0]["access_walk"] %>分</p>
    </div>
</div>
<div class="topSort">
    <ul class="topSort_accordion">
        <li class="topSort_accordionItem">
            <div class="topSort_accordionItemLink js-topSort_accordionItemLink">
                <span class="material-icons">format_list_bulleted</span><span>絞り込み条件を選択</span>
            </div>
            <ul class="topSort_accordionUl">
                <form action="/" class="topSort_accordionForm" accept-charset="UTF-8">
                    <li class="topSort_accordionUlItem">
                        <input type="checkbox" id="topSort_checkbox" name="beer">
                        <label for="topSort_checkbox">ビール価格の安い順で並べる</label>
                    </li>
                    <li class="topSort_accordionUlItem">
                        <input type="checkbox" id="topSort_checkbox" name="budget">
                        <label for="topSort_checkbox">平均価格の安い順で並べる</label>
                    </li>
                    <li class="topSort_accordionUlItem">
                        <div class="topSort_submitWrap">
                            <button class="topSort_checkboxSubmit">絞り込み</button>
                        </div>
                    </li>
                </form>
            </ul>
        </li>
    </ul>
</div>
<div>
    <%= @sql_test %>
    <%= @title %>
</div>
<section class="topAreaList">
    <h2 class="sectionHeader">
        <p class="section__title">八王子駅周辺で最も<%= @h2_title %></p>
    </h2>
    <ul>
        <% i = 0 %>
        <% @stores_data.each do |store| %>
            <li class="topAreaListCard">
                <%= link_to("/show/#{store["store_code"]}") do %>
                    <div class="topAreaListCardInfo__rank">
                        <% i += 1 %>
                        <span>
                            <%= if i < 4 then image_tag("icons/#{i}.svg") else i end  %>
                        </span>
                        <h4 class="topAreaListCardInfo__title"><%= store["store_name"]%></h4>
                    </div>
                    <div class="topAreaListCardInfo__detail">
                        <div class="topAreaListCardImage">
                            <img src="<%= store["image1"] %>" alt="<%= store["store_name"] %>の写真">
                        </div>
                        <div class="topAreaListCardInfo__detailBox">
                            <div class="topAreaListCardInfo__detailPrice">
                                <% if @h2_title == "ビールが安い順" %>
                                    <p class="topAreaListCardInfo__cheaptext">最安値</p><p class="topAreaListCardInfo__pricetext"><%= store["drink_price"].to_s(:delimited) %>円</p>
                                <% else %>
                                    <p class="topAreaListCardInfo__cheaptext">平均予算</p><p class="topAreaListCardInfo__pricetext"><%= store["budget"].to_s(:delimited) %>円</p>
                                <% end %>
                            </div>
                            <div class="topAreaListCardInfo__detailAccess">
                                <p class="topAreaListCardInfo__detailAccessWrap"><span class="material-icons topAreaListCardInfo__detailAccessIcon">directions_walk</span><span class="topAreaListCardInfo__detailAccessText"><%= store["access_line"] + store["access_station"] %>徒歩<%= store["access_walk"] %>分</span></p>
                            <% if @h2_title == "ビールが安い順" %>
                                <p><span class="material-icons topAreaListCardInfo__detailAccessIcon">restaurant</span>平均予算<%= store["budget"].to_s(:delimited) %>円~</p>
                            <% else %>
                                <p><i class="material-icons topAreaListCardInfo__detailAccessIcon">sports_bar</i>ビール最安<%= store["drink_price"].to_s(:delimited) %>円</p>
                            <% end %>
                            </div>
                            <ul class="topAreaListCardInfo__tag">
                                <% store["drink_name"].each do |name| %>
                                    <li class="topAreaListCardInfo__tagItem"><%= name %></li>
                                <% end %>
                            </ul>
                        </div>
                    </div>
                <% end %>
            </li>
        <% end %>
    </ul>
</section>
