<!DOCTYPE html>
<html>
  <head>
    <title>IzakayaSearch</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
    <link rel="stylesheet" href="app/assets/stylesheets/reset.css">
    <link rel="stylesheet" href="app/assets/stylesheets/sp.css" media="screen and (max-width: 500px)">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  </head>

  <body>
    <div class="wrap">
     <div class="logo_area">
      <header>
        <%= image_tag("/assets/logo.png") %>
      </header>
    </div>
    <hr>
    <%= yield %>
    </div>
  </body>
</html>
